h1, h2, h3, h4, h5, h6 {
	clear: right;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    color:#000;
}

.entry-title{
  margin: 0 0 2rem;
  font-weight: 900;
  font-size:40px;
  font-size:3.8rem;
  line-height: 1.3em;
  color:#000;
}

.entry-content{
  a{
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top:0;
    margin-bottom: .4em;
  }

  h1{
    font-size:32px;
    font-size:3.2rem;
  }

  h2{
    font-size:30px;
    font-size:2.8rem;
  }

  h3{
    font-size:28px;
    font-size:2.6rem;
  }

  h4{
    font-size:26px;
    font-size:2.4rem;
  }

  h5{
    font-size:24px;
    font-size:2.2rem;
  }

  h6{
    font-size:22px;
    font-size:2.0rem;
  }
}

.entry-content{
  p, ul, ol{
    font-size:20px;
    font-size: 1.3rem;
    line-height: 1.6em;
  }

  blockquote{
    font-size: 28px;
    line-height: 1.5em;
  }
}

@media screen and (max-width:680px){
  .entry-title{
    font-size: 32px;
    line-height: 1.3em;
  }

  .entry-content{
    h1{
      font-size: 28px;
      font-size:2.8rem;
    }

    h2{
      font-size:26px;
      font-size:2.6rem;
    }

    h3{
      font-size:24px;
      font-size:2.4rem;
    }

    h4{
      font-size:22px;
      font-size:2.2rem;
    }

    h5{
      font-size:20px;
      font-size:2rem;
    }

    h6{
      font-size:18px;
      font-size:1.8rem;
    }
  }
}