.site-footer{
  padding:2em;
  font-family: 'Lato', sans-serif;
  font-size:16px;
  color:#fff;
  background-color:#141412;

  a{
    color:#fff;
  }

  h1,h2,h3{
    color:#fff;
    font-weight: 400;
  }

}

.site-info{
  text-align: center;
}