//Container
.site-branding{
  padding: 3rem 0;
  text-align: center;
  background: #2c86ba;
  background: hsl(202, 62%, 45%);
  background-size:cover;
  background-repeat: no-repeat;

  background-position: 50% 50%;
}

//h1 title
.site-title{
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  margin:0 0 0 0;
  padding-bottom: 0;

  a{
    @include font-size(2);
    color:#fff;
    text-decoration: none;

    &:hover{
      color:#000;
    }
  }
}

//h2 in the header
.site-description{
  font-weight: 100;
  color:#fff;
  margin:0;
  @include font-size(.8);
}


@media screen and (min-width: 768px) {

  .site-branding{
    padding: 5rem 0;
  }

  .site-title{
    text-transform: uppercase;
    margin:15px 0 0 0;

    a{
      @include font-size(3.5);

    }
  }

  .site-description{
    @include font-size(1.5);
  }

}

@media screen and (min-width: 991px) {

  .site-branding{
    padding: 6rem 0;
  }

  .site-title{
    text-transform: uppercase;
    margin:15px 0 0 0;
    padding-bottom: 1rem;

    a{
      @include font-size(3.5);

    }
  }

  .site-description{
    @include font-size(1.25);
  }

}





