//Search toggle

.search-toggle{
  float:right;
  width:54px;
  height: 54px;
  padding: 12px;
  margin-right: 20px;
  color:#fff;
  text-align: center;
  cursor: pointer;

  &:hover, &.active{
    background: #4d4d4d;
  }
}

input[type="search"] {
  box-sizing: border-box;
  width:100%;
}

.search-box-wrapper{
  z-index: 2;
  width:100%;
  display:none;
}
.search-box{
  background: #4d4d4d;
}

.search-box .search-field {
  max-width: 362px;
  float: right;
  padding:1rem 2rem 1rem 4rem;
  font-size: 20px;
  background-color: #fff;
  border:0;
  margin: 1rem;
}

.error404 .search-submit,
.search .search-submit,
.search-box .search-submit{
  display: none;
}

@media screen and (max-width:600px){
  .search-toggle{
    position: absolute;
    top:0;
    right:0;
    margin-right:0;
  }
}