.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comment-navigation{
  padding: 1em 0;
  margin:3em 0;
  border-top:hsl(0, 0%, 80%) solid 1px;
  border-bottom:hsl(0, 0%, 80%) solid 1px;

  i{
    margin:0 1em;
  }
}